.grid-square {
    background-color: white;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#title {
    text-align: center;
}

#settings {
    margin: auto;
    width: 51.2vh;
    text-align: center;
    padding: 2vh; 
}

#container {
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto);
    height: 51.2vh;
    width: 51.2vh;
    margin: auto; 
}

