body {
    font-family: Arial, Helvetica, sans-serif;
}

.grid-square {
    background-color: white;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#title {
    text-align: center;
    font-family: 'Tourney', cursive;
    font-size: 62px;
}

#description {
    text-align: center;
    font-size: 24px;
}

#settings {
    margin: auto;
    width: 60vh;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 4vh; 
}

#container {
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto);
    height: 51.2vh;
    width: 51.2vh;
    margin: auto; 
}

.button {
    background-color: lavender;
    border: none; 
    padding: 12px 25px;
    text-align: center;
    font-size: 16px;
}

.button:hover {
    background-color: purple;
    color: white;
}

#gay-mode-button {
    background-image: linear-gradient(to right,blue,indigo,violet);
    color: white;
}

